<ion-view view-title="会员">
    <div class="bar bar-header">
        <div class="tellme_title_left tellme_fl" align="center"></div>
        <div class="tellme_title_center tellme_fl" align="center"></div>
        <div class="tellme_title_left tellme_fl" align="center"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:top" ng-click="" /></div>
        <div class="tellme_cl"></div>
    </div>
    <ion-content>
        <div class="tellme_title_blank"></div>
        <div align="center">
            <img src="../../../images/temp/photo.png" class="tellme_member_photo" />
        </div>
        <div align="center"><span class="tellme_title_txt">米老头</span></div>
        <div class="tellme_member_main_view">
            <div class="tellme_member_item_view"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:middle;" /><span class="tellme_title_txt tellme_ml1e">我的订单</span></div>
            <div class="tellme_member_item_view"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:middle;" /><span class="tellme_title_txt tellme_ml1e">我的钱包</span></div>
            <div class="tellme_member_item_view" ng-click="collection()"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:middle;" /><span class="tellme_title_txt tellme_ml1e">我的收藏夹</span></div>
            <div class="tellme_member_item_view"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:middle;" /><span class="tellme_title_txt tellme_ml1e">我的浏览</span></div>
            <div class="tellme_member_item_view"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:middle;" /><span class="tellme_title_txt tellme_ml1e">我的资料</span></div>
            <div class="tellme_member_item_view"><img src="../../images/icon/loginout.png" class="tellme_title_icon" style="vertical-align:middle;" /><span class="tellme_title_txt tellme_ml1e">我的设置</span></div>
            <div class="tellme_title_blank"></div>
        </div>
    </ion-content>
</ion-view>