<ion-view view-title="服务指南">
    <div class="bar bar-header tellme_main_bg">
        <div class="tellme_title_left tellme_fl" align="center"><img src="../../images/icon/location.png" class="tellme_title_icon" ng-click="goToLocation()" /></div>
        <div class="tellme_title_center tellme_fl" align="center"><span class="tellme_title_txt">HOTEL POCKET</span></div>
        <div class="tellme_title_left tellme_fl" align="center"><img src="../../images/icon/search.png" class="tellme_title_icon" ng-click="goToSearch()" /></div>
        <div class="tellme_cl"></div>
    </div>
    <ion-content>
        <div class="tellme_title_blank"></div>
        <div class="tellme_home_hotel_view">
            <div><img src="../../images/temp/hotel.jpg" class="tellme_home_hotel_img" /></div>
            <div align="center"><span class="tellme_home_hotel_txt">奥亚酒店</span></div>
        </div>
        <div class="tellme_home_hotel_view">
            <div><img src="../../images/temp/h2.jpg" class="tellme_home_hotel_img" /></div>
            <div align="center"><span class="tellme_home_hotel_txt">洲际酒店</span></div>
        </div>
        <div class="tellme_home_hotel_view">
            <div><img src="../../images/temp/h3.jpg" class="tellme_home_hotel_img" /></div>
            <div align="center"><span class="tellme_home_hotel_txt">未知名酒店</span></div>
        </div>
        <div class="tellme_bottom_blank"></div>
    </ion-content>
</ion-view>