<ion-view view-title="商品">
    <div class="bar bar-header tellme_main_bg">
        <div class="tellme_title_left tellme_fl" align="center"><span class="tellme_title_txt" ng-click="goBack()">返回</span></div>
        <div class="tellme_title_center tellme_fl" align="center"><span class="tellme_title_txt">商品</span></div>
        <div class="tellme_title_left tellme_fl" align="center"><img src="../../images/icon/search.png" class="tellme_title_icon" style="vertical-align:top" ng-click="search()" /></div>
        <div class="tellme_cl"></div>
    </div>
    <ion-content>
        <div class="tellme_title_blank"></div>
        <div style="padding-top: 0.6em;">
            <div class=""><img src="../../../images/temp/pro1.png" class="tellme_product_img" /></div>
            <div><span class="tellme_title_txt tellme_ml1e tellme_mt1e"></span>康师傅红烧牛肉面</div>
            <div><span class="tellme_normal_txt tellme_ml1e"></span>￥4.5</div>
            <div class="tellme_product_divider"></div>
            <div class="tellme_product_view"><span class="tellme_normal_txt"></span>康师傅红烧牛肉面，为康师傅品牌旗下一种方便面口味，延续了康师傅方便面一贯的丰富配料与口碑。其知名度可谓康师傅方便面系列里面最高的一种。</div>
            <div class="tellme_mt1e"><img src="../../../images/temp/prop1.png" class="tellme_product_img" /></div>
        </div>
        <div class="tellme_title_blank"></div>
        <div class="bar bar-footer">
            <div class="button-bar">
                <a class="button">收藏</a>
                <a class="button" ng-click="cart()">添加购物车</a>
                <a class="button" ng-click="order()">购买</a>
            </div>
        </div>
</ion-content>
</ion-view>