<ion-view view-title="E房超市">
    <div class="bar bar-header tellme_main_bg">
        <div class="tellme_title_left tellme_fl" align="center"><span class="tellme_title_txt" ng-click="goBack()">返回</span></div>
        <div class="tellme_title_center tellme_fl" align="center"><span class="tellme_title_txt">E房超市</span></div>
        <div class="tellme_title_left tellme_fl" align="center"><img src="../../images/icon/search.png" class="tellme_title_icon" style="vertical-align:top" ng-click="search()" /></div>
        <div class="tellme_cl"></div>
    </div>
    <ion-content>
        <div class="tellme_title_blank"></div>
        <div style="padding-top: 0.6em;">
            <div class="tellme_supermarket_content_left_view tellme_fl">
                <div class="tellme_supermarket_content_icon" align="center">
                    <img src="../../../images/icon/search.png" />
                </div>
                <div class="tellme_supermarket_content_icon" align="center">
                    <img src="../../../images/icon/search.png" />
                </div>
                <div class="tellme_supermarket_content_icon" align="center">
                    <img src="../../../images/icon/search.png" />
                </div>
            </div>
            <div class="tellme_supermarket_content_right_view tellme_fl">
                <div class="tellme_supermarket_content_item_view" ng-click="product()">
                    <div class="tellme_supermarket_content_item_img_panel tellme_fl"><img src="../../../images/temp/hotel.jpg" class="tellme_supermarket_content_item_img" /></div>
                    <div class="tellme_supermarket_content_item_img_panel tellme_fl">
                        <div><span class="tellme_title_txt">康师傅红烧牛肉面</span></div>
                        <div class="tellme_mt4e"><span class="tellme_title_txt">￥4.5</span><button class="button icon-left ion-home tellme_ml2e">购买</button></div>
                    </div>
                    <div class="tellme_cl"></div>
                </div>
                <div class="tellme_supermarket_divider"></div>
                <div class="tellme_supermarket_content_item_view">
                    <div class="tellme_supermarket_content_item_img_panel tellme_fl"><img src="../../../images/temp/h2.jpg" class="tellme_supermarket_content_item_img" /></div>
                    <div class="tellme_supermarket_content_item_img_panel tellme_fl">
                        <div><span class="tellme_title_txt">有友泡椒凤爪</span></div>
                        <div class="tellme_mt4e"><span class="tellme_title_txt">￥9.6</span><button class="button icon-left ion-home tellme_ml2e">购买</button></div>
                    </div>
                    <div class="tellme_cl"></div>
                </div>
                <div class="tellme_supermarket_divider"></div>
                <div class="tellme_supermarket_content_item_view">
                    <div class="tellme_supermarket_content_item_img_panel tellme_fl"><img src="../../../images/temp/h3.jpg" class="tellme_supermarket_content_item_img" /></div>
                    <div class="tellme_supermarket_content_item_img_panel tellme_fl">
                        <div><span class="tellme_title_txt">洽洽原味瓜子</span></div>
                        <div class="tellme_mt4e"><span class="tellme_title_txt">￥6</span><button class="button icon-left ion-home tellme_ml2e">购买</button></div>
                    </div>
                    <div class="tellme_cl"></div>
                </div>
            </div>
            <div class="tellme_cl"></div>
        </div>
        <div class="tellme_title_blank"></div>
</ion-content>
</ion-view>